.navbar{
    border-style: solid !important; 
       
}

.bg-custom{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
      
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large !important; font-weight: 900; color:  rgb(20, 20, 87) !important; 
}

.nav-item{
     padding-left: 30px !important;
     font-size: x-large; color:  rgb(20, 20, 87) !important;
     font-family: monospace;
}
.nav-link{
    color:  rgb(20, 20, 87) !important; 
}
.nav-link:hover{
    
    font-family: cursive;
    background-color:rgb(169, 222, 238); 
    color: black;
    border: solid 2px;
    border-radius: 8px;
 
}

.form-label{
    font-weight: bolder;  color: rgb(20, 20, 87)!important;
    font-size:  large;
}

.info{
    text-align: center; text-decoration: underline; 
    color: rgb(20, 20, 87);
    font-family: monospace;
    
}
    
.form-label{
    color:rgb(20, 20, 87); 
    font-family: monospace; font-weight: bolder; font-size: xx-large;
}

.btn-primary{
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

}

.cont{
 border-style: solid dashed; border-width: 3px;
 background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

    text-align: center; color: rgb(20, 20, 87);
}